@import
	url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
	;

.dashboard {
	width: 100%;
}

.dashboard /deep/ .widget {
	background-color: darkgrey;
	height: 100%;
}

.widget .close {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.handle {
	cursor: move;
}

.panel {
	height: 100%;
}

.panel-body {
	layout: fit;
	height: 100%;
}
.cm-widget {
	height: 100%;
}

.btn-matrix>.btn:nth-child(3n+4) {
	clear: left;
	margin-left: 0;
}

.btn-matrix>.btn:nth-child(n+4) {
	margin-top: -1px;
}

.btn-matrix>.btn:first-child {
	border-bottom-left-radius: 0;
}

.btn-matrix>.btn:nth-child(3) {
	border-top-right-radius: 4px !important;
}

.btn-matrix>.btn:nth-last-child(3) {
	border-bottom-left-radius: 4px !important;
}

.btn-matrix>.btn:last-child {
	border-top-right-radius: 0;
}

/* Decorations */
.btn-matrix {
	margin: 20px;
}

.btn{
    white-space:normal !important;
    word-wrap:break-word; 
}